{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated %}
    <div id="profile-view">
        <h3>profile</h3> 

    </div>
    <div id="create-view">
        <form class="p-2" method="POST" action="{% url "create" %}">
            {% csrf_token %}
            <label for="msg" class="form-label">New Post</label>
            <textarea class="form-control" placeholder="Things to share?" name="body" id="msg" rows="5"></textarea>
            <div class="text-right py-2">
                <button type="submit" class="btn btn-primary rounded-pill p-2">Submit</button>
            </div>
        </form>
    </div>
    {% endif %}
    <!-- IF NO POST -->
    <div id="posts-view">
        {% if posts.count == 0 %}
        <div class="card my-5 p-3" id="post-card-{{post.id}}">
            <h3>No post available...</h3>
        </div>
        {% endif %}
        <!-- DISPLAY POST HERE -->

    </div>
{% endblock %}

{% block script %}
    
{% endblock %}