{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
    <div id="create-view">
        <form class="p-2" method="POST" action="{% url "create" %}">
            {% csrf_token %}
            <label for="msg" class="form-label">New Post</label>
            <textarea class="form-control" placeholder="Things to share?" name="body" id="msg" rows="5"></textarea>
            <div class="text-right py-2">
                <button type="submit" class="btn btn-primary rounded-pill p-2">Submit</button>
            </div>
        </form>
    </div>
    {% endif %}
    <!-- IF NO POST -->
    <div id="posts-view">
        {% if posts.count == 0 %}
        <div class="card my-5 p-3" id="post-card-{{post.id}}">
            <h3>No post available...</h3>
        </div>
        {% endif %}
        <!-- DISPLAY POST HERE -->
        {% for post in posts %}
            {% include 'network/post.html' %}
        {% endfor%}
    </div>
    <!--PAGINATION-->
    {% if posts.has_previous %}
        <a href="?page={{posts.previous_page_number}}">previous</a> 
    {% endif %}
    {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}">next</a>
        <a href="?page={{posts.paginator.num_pages}}">last</a>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock %}