<!--PAGINATION-->
<nav aria-label="Page navigation example">
    <ul class="pagination">
    {% if posts.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">previous</a></li>
    {% endif %}
    {% if posts.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">last</a></li>
    {% endif %}
    </ul>
</nav>