{% extends "network/layout.html" %}

{% block body %}
    {% include 'network/profile_component.html' %}
    <!-- IF NO POST -->
    <div id="posts-view">
        {% if posts.count == 0 %}
        <div class="card my-5 p-3" id="post-card-{{post.id}}">
            <h3>No post available...</h3>
        </div>
        {% endif %}
        <!-- DISPLAY POST HERE -->
        {% for post in posts %}
            {% include 'network/post.html' %}
        {% endfor%}
    </div>
    {% include 'network/pagination.html' %}
{% endblock %}
