{% extends "network/layout.html" %}

{% block body %}
    <!-- DISPLAY POST HERE -->
    {% for post in posts %}
    <div class="card my-5 p-3" id="post-card-{{post.id}}">
    <p id="post-body-{{post.id}}">{{post.body}}</p>
    <p>submitted {{post.post_date|timesince}} ago by <a href="profile/{{post.user.id}}">{{post.user}}</a> on {{post.post_date}}</p>
    <button type="button" class="btn btn-outline-danger m-1">Likes</button> 
    {% if request.user.id == post.user.id %} <button type="button" class="btn btn-outline-primary m-1">Edit</button>{% endif %}
    </div>
    {% endfor%}
{% endblock %}
